<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shortly - URL Shortner</title>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="page__title">
        <h1>Shortly</h1>
        <p>The minimalistic URL shortner</p>
      </div>
      <div class="short__form">
        <form class="shorten-form">
          <input type="text" name="url" id="url" placeholder="www.google.com" />
          <button class="btn btn-scissors"></button>
        </form>
      </div>

      <div class="content">
        <h2>URLs</h2>
      </div>
    </div>
    <script src="../public/index.js"></script>
  </body>
</html>
